
.page {
    display: flex;
    justify-content: center;
}


.column {
    display: flex;
    flex-direction: column;
}


.content {
    display: flex;
}


#input {
    width: 500px;

    margin-right: 10px;
}


.output-wrapper {
    border: 2px solid black;
    padding: 2px;
    border-radius: 4px;
}

#output {
}


#error {
    margin-top: 20px;
    font-family: monospace;
}

.yellow { color: yellow; }
.red { color: red; }
.blue { color: blue; }
