
.page {
    display: flex;
    justify-content: center;
}


.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.content {
    display: flex;
}


#input {
    width: 500px;

    margin-right: 10px;
}


#output {
    border: 2px solid black;
    padding: 2px;
    border-radius: 4px;
}


#error {
    margin-top: 20px;
    color: red;
    font-family: monospace;
}
